body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #777777;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header h1 {
    color: #333;
    text-align: center;
}

.contact-info, .note {
    background-color: #434343;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.contact-info h2, .note h2 {
    color: #00ff00;
    margin-top: 0;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 10px;
}

.note p {
    margin: 0;
    font-size: 20px;
    color: #00ff00;
}
